/* Semaine de la culture 2020 */


*{
    margin: 0;
    overflow-x: hidden;
}

:root{
    --first: #F3B607; /* colors from the 2020 edition */
    --second: #F3C3C1; /* To use your own colors change them in the custom.js file */
    --third: #F0D77B;
    --fourth: #728943;
    --white: white; 
    --black: black;
}
