*{
    margin: 0;
    overflow-x: hidden;
}

:root{
    --first: #F3B607; 
    --black: black;
}


.TRY{
    /* display:inline-block; */
    width:50em;
    height:15em;
    stroke: #000000;
    position: absolute;
    background-color: var(--first);
    padding: 10px;
    fill: none;
    left: calc(50% - 25em);
    top: 10%;
}

.TRY svg{
    position: relative;
    top: 50%;
}

.logo-path {
    display: block;
    position: absolute;
    top: calc(20% + 20px);
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
}


#a1{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.25s; }
#a2{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.5s; }
#a3{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.75s; }
#a4{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.25s; }
#a5{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.5s; }
#a6{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.75s; }
#a7{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.25s; }
#a8{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.5s; }
#a9{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.75s; }
#a10{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.25s; }
#a11{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.5s; }
#a12{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.75s; }
#a13{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5.25s; }
#a14{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5.5s; }
#a15{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5.75s; }
#a16{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 6.25s; }
#a17{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 6.5s; }
#a18{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 6.75s; }






@keyframes letter-animation {
    0% {
        stroke-dashoffset: 2600;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.TRY2{
    width:50em;
    height:20em;
    position: absolute;
    background-color: var(--black);
    padding: 10px;
    left: calc(50% - 25em);
    top: 50%;
    text-align: center;
}

.TRY2 h1{
    color: transparent;
    background-image: url('https://media.giphy.com/media/sxu1sBZtN9WOk/source.gif');
    background-size: cover;
    position: relative;
    font-family: Poppins;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 5em;
    margin: 10px 0;
}