/* Semaine de la culture 2020 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

*{
    margin: 0;
}

:root{
    --first: #F3B607; /* colors from the 2020 edition */
    --second: #F3C3C1; /* To use your own colors change them in the custom.js file */
    --third: #F0D77B;
    --fourth: #728943;
    --white: white; 
    --black: black;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}


/* HOMEPAGE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#logo-background{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    
}

.content{
    grid-column: 1 / 7;
}

.one{
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    transform: translateY(-150vh);
    text-align: center;
    animation: slideDown .75s forwards ease;
}

.two{
    grid-column: 3 / 5;
    grid-row: 2 / 7;
    text-align: center;
    animation: slideUp .75s forwards ease;
}

.three{
    grid-column: 5 / 7;
    grid-row: 2 / 7;
    transform: translateY(-150vh);
    text-align: center;
    animation: slideDown .75s forwards ease;
}

.news-img{
    width: 85%;
}

.news{
    overflow: hidden;
}

@keyframes slideDown {
    0%{ transform: translateY(-150vh)}
    100%{transform: translateY(-15vh) }
}

@keyframes slideUp {
    0%{ transform: translateY(150vh)}
    100%{transform: translateY(0vh) }
}


#calendar{
    height: 300px;
    width: 50px;
    position: absolute;
    top: calc(50% - 150px);
    left: 2%;
    /* border: solid 1px; */
    display: flex;
    justify-content: center;

    
}

#core{
    height: 100%;
    width: 3px;
    background-color: var(--black);
    display: block;
}

.day{
    height: 15px;
    width: 15px;
    background-color: var(--black);
    position: absolute;
}

.day p{
    margin-left: 25px;
    margin-top: -5px;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.daySelected{
    height: 25px;
    width: 25px;
}

.daySelected p{
    margin-left: 35px;
}

#Lundi{
    top: 8%;
}

#Mardi{
    top: 28%;
}

#Mercredi{
    top: 48%;
}

#Jeudi{
    top: 68%;
}

#Vendredi{
    top: 88%;
}



/* MENU  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

nav .headbands {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--first);
    width: 65px;
    display: flex;
    justify-content: center;
}

nav .headbands p {
    text-align: center;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 5px;
}

nav:hover .headbands {
    transition-duration: 0.4s;
    opacity: 0;
}

nav .menu {
    z-index: 2;
    background-color: var(--first);
    height: 100%;
    width: 300px;
    transform: translateX(100%);
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav:hover .menu {
    transform: translateX(0);
}

.link{
    text-align: center;
    margin-bottom: 2vh;
    position: relative;
}

.link a{
    font-family: Poppins;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
}

.link a:before{
    content: "";
    position: absolute;
    width: 110%;
    left: -5%;
    height: 3px;
    bottom: 45%;
    background: rgb(0, 0, 0);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }

  .link a:hover:before{
    visibility: visible;
    transform: scaleX(1);
}


.link a:hover{
    color: var(--first);
    text-shadow: var(--black) 1px 1px, var(--black) -1px 1px, var(--black) -1px -1px, var(--black) 1px -1px;
    transition: .25s linear;
    /*text-decoration: line-through;
    text-decoration-color: var(--black);
    text-decoration-style: solid;
    text-decoration-thickness: 3px; /* il dit qu'il connait pas, mais il ment, ça fonctionne très bien */ 
}

.disabled a{
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled a:hover{
    opacity: 0.5;
    cursor: not-allowed;
    color: var(--black);
    text-shadow: none;
    text-decoration: none;
}

.disabled a:hover:before{
    visibility: hidden;
}

nav .reseaux {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav .reseaux .r {
    padding: 6px;
    border: 2px solid var(--black);
    border-radius: 50%;
    margin: 10px;
}

nav .reseaux svg {
    height: 25px;
    width: 25px;
}