*{
    margin: 0;
    overflow-x: hidden;
}

:root{
    --first: #F3B607;
    --second: #F3C3C1;
    --white: white; 
    --black: black;
}


.TRY{
    /* display:inline-block; */
    width:50em;
    height:15em;
    stroke: #000000;
    position: absolute;
    background-color: var(--first);
    padding: 10px;
    fill: none;
    left: calc(50% - 25em);
    top: 10%;
}

.TRY svg{
    position: relative;
    top: 50%;
}

.logo-path {
    display: block;
    position: absolute;
    top: calc(20% + 20px);
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
}


#a1{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.2s; }
#a2{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.6s; }
#a3{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 1.8s; }
#a4{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2s; }
#a5{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.2s; }
#a6{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.6s; }
#a7{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 2.8s; }
#a8{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3s; }
#a9{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.2s; }
#a10{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.6s; }
#a11{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 3.8s; }
#a12{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4s; }
#a13{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.2s; }
#a14{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.6s; }
#a15{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 4.8s; }
#a16{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5s; }
#a17{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5.2s; }
#a18{ stroke-width: 1;    animation: letter-animation 5s linear forwards;    animation-delay: 5.6s; }






@keyframes letter-animation {
    0% {
        stroke-dashoffset: 2600;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.TRY2{
    width:50em;
    height:20em;
    position: absolute;
    background-color: var(--black);
    padding: 10px;
    left: calc(50% - 25em);
    top: 50%;
    text-align: center;
}

.TRY2 h1{
    color: transparent;
    background-image: url('https://media.giphy.com/media/sxu1sBZtN9WOk/source.gif');
    background-size: cover;
    position: relative;
    font-family: Poppins;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 5em;
    margin: 10px 0;
}

.TRY3{
    width:45em;
    height:20em;
    position: absolute;
    background-color: var(--second);
    padding: 10px;
    left: 51%;
    top: 100%;
    text-align: center;
}

.TRY3 h1{
    color: transparent;
    background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif');
    background-size: cover;
    position: relative;
    font-family: Poppins;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 5em;
    margin: 10px 0;
}

.TRY4{
    width:45em;
    height:20em;
    position: absolute;
    background-color: var(--first);
    padding: 10px;
    left: 1%;
    top: 100%;
    text-align: center;
}

.TRY4 h1{
    color: transparent;
    background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif');
    background-size: cover;
    position: relative;
    font-family: Poppins;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 5em;
    margin: 10px 0;
}