/* Semaine de la culture 2020 */


*{
    margin: 0;
    overflow-x: hidden;
}

:root{
    --first: #F3B607; /* colors from the 2020 edition */
    --second: #F3C3C1; /* To use your own colors change them in the custom.js file */
    --third: #F0D77B;
    --fourth: #728943;
    --white: white; 
    --black: black;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}


/* HOMEPAGE */

#logo-background{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    padding: 3vw;
}

.content{
    grid-column: 1 / 7;
}

.one{
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    transform: translateY(-15vh);
    text-align: center;

}

.two{
    grid-column: 3 / 5;
    grid-row: 2 / 7;
    text-align: center;
}

.three{
    grid-column: 5 / 7;
    grid-row: 2 / 7;
    transform: translateY(-15vh);
    text-align: center;

}

.news-img{
    width: 70%;
}

.news{
    overflow: hidden;
}

/* MENU */

.menu{
    background-color: var(--first);
    width: 10vw;
    top: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.link{
    font-family: Poppins;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}